<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zt.task.baiduappsearchlibrary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".BaiduAppSearchService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>